body{
	height: 100%;
	background-color: #FFDA13;
}
h1{
	font-family: 'Rampart One', cursive;
	font-size: 100pt;
	color: #d4070f;
}
h2{
	font-family: cursive;
	font-size: 20pt;
	color: #d4070f;
	font-weight: bold;
}
p{
	font-family: cursive;
	font-size: 20pt;
	color: #d4070f;
}
#title{
	background-color: #FFDA13;
	text-align: center;
	height: 100%;
	width: 100%;
}
#menu{

}
table{
	height: 100%;
}
#menu-table{
	color: white;
	font-family: sans-serif;
	font-weight: bold;
}
div{
	color: white;
	padding: 10px;
	font-family: cursive;
	background-color: #1c1aaf;
	transition: background-color 1s;
}
div:hover{
	background-color: #0066E7;
}